[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rasa = "*"
spacy = "*"
en_core_web_md = { file = 'https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.6.0/en_core_web_md-3.6.0.tar.gz' }


[dev-packages]

[requires]
python_version = "3.10"
